.card {
    background-color: #dfe4e5d1;
    color: #818385;
    border: 10px solid rgba(245, 239, 239, 0.63);
    box-shadow: inset 0 0 0 2px #ffffff;
    box-sizing: border-box;
    margin: 5px;
}

.list-group a {
    margin-top: 1rem;
    border-left: 5px dotted;
    color: rgb(94, 90, 90);
}

.list-group a:not(:last-of-type) li {
    border-bottom: none !important;
}

.list-group a:hover {
    text-decoration: none;
    border-left-style: solid;
    border-left-width: 3px;
}

.list-group a:hover li {
    margin-left: 2px;
}

.list-group-item {
    background-color: transparent;
    font-weight: bold;
}

.list-group-item:hover {
    cursor: pointer;
}

